@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap');


html,
body,
#root,
.app{
  height: 100%;
  width: 100%;
  font-family: "Rubik",sans-serif;
  font-size: 85%;
  cursor:url(./assets/cursor.svg),auto;
}

::-webkit-scrollbar{
  width: 7px;
  height: 7px;
}

::-webkit-scrollbar-track{
  background-color: rgba(0, 0, 255, 0.18);
  border-radius: 5px;

}

::-webkit-scrollbar-thumb{
  background-color: rgba(0, 255, 255, 0.377);
  border-radius: 5px;
}